<h1>Info</h1>
<p>
  This Page is 「Rails Girls app Tutorial」that made for sample
  http://railsgirls.jp/app
  http://railsgirls.com/app
</p>
<h5> Ruby version：2.6.0 </h5>
<h5> Rails version：5.2.2</h5>
